<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.coordifit.image.repository.ImageMapper">
  <insert id="insertImage" parameterType="Image">
    INSERT INTO images (id, file_name, url)
    VALUES (images_seq.NEXTVAL, #{fileName}, #{url})
  </insert>

  <select id="selectAllImages" resultType="Image">
    SELECT id, file_name AS fileName, url
    FROM images
    ORDER BY id DESC
  </select>

</mapper>
